@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,300,400,500,700,900');

html, body {
    font-family: 'Ubuntu', sans-serif;
}

/*------------------------------------------------------------------CONTAINERS, WRAPPERS AND OVERLAYS*/

.home-container-main,
.about-container-main,
.media-container-main,
.booking-container-main {
    height: 100vh;
    background: url(../images/wall-guitars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.video-container-main {
    height: 100vh;
    background: url(../images/wall-guitars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container-main .row {
    height: auto;
    width: 100%;
}

.about-container-main,
.media-container-main,
.booking-container-main {
    height: auto;
    min-height: 100vh;
    display: block;
}

.video-wrapper {
    padding: 30px;
    background: black;
    border-radius: 10px;
    box-shadow: 0px 0px 100px #fff;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
}

.opaque-overlay-video {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 255, 0.15);
}

#about-container-body,
#media-container-body,
#booking-container-body {
    margin-top: 52px;
    color: #ecc0cc;
}

.home-container-main .jumbotron,
.about-container-main .jumbotron,
.media-container-main .jumbotron,
.booking-container-main .jumbotron {
    background-color: transparent;
    color: #fafafa;
    border: 0;
}

/*------------------------------------------------------------------NAVBAR*/

.navbar-default {
    background-color: #f7e102;
    border-color: #ff00ff;
    border-bottom-width: 2px;
    color: #000;
}

.navbar-default .navbar-nav {
    margin: 0 -15px;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-nav li a {
    color: #000;
}

.navbar-default .navbar-header a {
    color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #ff00ff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #ff00ff;
    transition: all .25s ease-in-out;
}

/*------------------------------------------------------------------NAVBAR TOGGLE BUTTON*/

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    color: #fff;
    background-color: #ff00ff;
    transition: all .25s ease-in-out;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
    transition: all .25s ease-in-out;
}

/*------------------------------------------------------------------ABOUT PAGE*/

.band-member {
    background-color: #000;
    background-color: rgba(0, 0, 0, .55);
    color: #e7e7e7;
    padding: 15px;
    margin: 15px 0px 0px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff00ff;
    min-height: 365px;
}

.band-member img {
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    height: 196px;
    width: 257px;
}

.band-member .shortdivider {
    width: 35%;
    display: block;
    margin: 20px 0px 20px -15px;
    box-shadow: 0px 0px 10px #ff00ff;
    border-color: rgba(255,0,255,0.25);
}

.band-member .member-instrument {
    font-weight: 100;
    font-style: italic;
    letter-spacing: .75rem;
}