@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,300,400,500,700,900');

html, body {
    font-family: 'Ubuntu', sans-serif;
}

/*------------------------------------------------------------------CONTAINERS, WRAPPERS AND OVERLAYS*/

.home-container-main,
.about-container-main,
.media-container-main,
.booking-container-main {
    height: 100vh;
    background: url(../images/wall-guitars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.about-container-main {
    background: url(../images/about-the-band.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.media-container-main {
    background: url(../images/record-needle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.booking-container-main {
    background: url(../images/instruments.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video-container-main {
    height: 100vh;
    background: url(../images/wall-guitars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container-main .row {
    height: auto;
    width: 100%;
}

.about-container-main,
.media-container-main,
.booking-container-main {
    height: auto;
    min-height: 100vh;
    display: block;
}

.video-wrapper {
    padding: 30px;
    background: black;
    border-radius: 10px;
    box-shadow: 0px 0px 100px #fff;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000; /* Fallback */
    background-color: rgba(0, 0, 0, .85);
}

.opaque-overlay-video {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000; /* Fallback */
    background-color: rgba(255, 0, 255, 0.15);
}

#about-container-body,
#media-container-body,
#booking-container-body {
    margin: 52px auto 270px auto;
    color: #ecc0cc;
}

.home-container-main .jumbotron,
.about-container-main .jumbotron,
.media-container-main .jumbotron,
.booking-container-main .jumbotron {
    background-color: transparent;
    color: #fafafa;
    border: 0;
}

/*------------------------------------------------------------------NAVBAR*/

.navbar-default {
    background-color: rgb(247, 225, 2); /* Fallback */
    background-color: rgba(247, 225, 2, 0.80);
    border-color: #ff00ff;
    border-bottom-width: 2px;
    color: #000;
}

.navbar-default .navbar-brand {
    color: #000;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: #ff00ff;
    transition: all .25s ease-in-out;
}

.navbar-default .navbar-nav {
    margin: 0 -15px;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-nav li a {
    color: #000;
}

.navbar-default .navbar-header a {
    color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #ff00ff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #ff00ff;
    transition: all .25s ease-in-out;
}

/*------------------------------------------------------------------NAVBAR TOGGLE BUTTON*/

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    color: #fff;
    background-color: #ff00ff;
    transition: all .25s ease-in-out;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
    transition: all .25s ease-in-out;
}

/*------------------------------------------------------------------ABOUT PAGE*/

.band-member, .media-item {
    background-color: #000; /* Fallback */
    background-color: rgba(0, 0, 0, .55);
    color: #e7e7e7;
    padding: 15px;
    margin: 15px 0px 0px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #221d16;
    min-height: 365px;
}



.band-member img {
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    height: 196px;
    width: 257px;
}

.band-member .shortdivider,
.media-item .shortdivider {
    width: 35%;
    display: block;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px #ff00ff;
    border-color: #ff00ff; /* Fallback */
    border-color: rgba(255, 0, 255, 0.25);
}

.band-member .member-instrument,
.media-item .album-name {
    font-weight: 100;
    font-style: italic;
    letter-spacing: .75rem;
}

/*------------------------------------------------------------------MEDIA PAGE*/

.audio-wrapper audio {
    width: 100%;
    margin: 20px 0;
}

.media-item {
    min-height: 450px;
    display: table;
    box-shadow: 0px 0px 10px #222;
}

.media-inner {
    display: table-cell;
    vertical-align: middle;
}

.song-desc a {
    text-decoration: none;
    margin-left: 5px;
    font-style: italic;
    font-weight: 100;
    color: #ff00ff; /* Fallback */
    color: rgba(255, 0, 255, 0.50);
    transition: color .25s ease-in-out
}

.song-desc a:hover {
    color: #ff00ff;
}

/*------------------------------------------------------------------BOOKING PAGE*/

.booking-form {
    background-color: #000; /* Fallback */
    background-color: rgba(0, 0, 0, .55);
    color: #e7e7e7;
    padding: 15px;
    margin: 15px 0px 0px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #221d16;
}

.booking-form input,
.booking-form select,
.booking-form textarea,
.booking-form label[for="booking-date"],
.booking-form button {
    margin-top: 10px;
}

.booking-form label {
    color: #666;
}

.booking-form .lead {
    color: #e7e7e7;
}

.booking-form #event-details-lead {
    margin-top: 50px;
}

.booking-form .personal-details,
.booking-form .event-details {
    padding-left: 25px;
}

/*------------------------------------------------------------------FOOTER*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(247, 225, 2); /* Fallback */
    background-color: rgba(247, 225, 2, 0.80);
    border-top: 2px solid #ff00ff;
    color: #000;
    min-height: 50px;
}

/*------------------------------------------------------------------MEDIA QUERIES*/

@media (max-width: 768px) {
    .band-member, .media-item, .booking-form {
        text-align: center;
    }
    
    .band-member img {
        float: none;
        margin: 10px auto;
    }
    .band-member .shortdivider,
    .media-item .shortdivider {
        margin: 20px auto;
    }
    
    .booking-form .personal-details,
    .booking-form .event-details {
        padding-left: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .media-item {
        min-height: 475px;
    }
}